.main{
  width: 450px;
  height: 500px;
  border: 1px solid black;
  margin: auto;
  


 
}
#name,#number,#searchText{
  background-color: rgb(240, 234, 234);
  border: 1px solid rgb(240, 234, 234) ;
  border-radius: 6px;
  color:rgb(175, 171, 171) ;
  padding:7px;
}
#add,#search,#delete{
  background-color: rgb(58, 80, 206);
  border: 1px solid rgb(240, 234, 234) ;
  border-radius: 6px;
  color:white;
  padding: 7px;

}
#add,#search,#delete:hover{
  cursor:pointer;
}
 #list{
    width: 400px;
    font-size: 20px;
 
    /* overflow-y: scroll; */
    padding: 10px;
    margin:auto;
    margin-top: 13px;
    
    
    }